<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>icon.jpeg</string>
	<key>CFBundleIdentifier</key>
	<string>de.heikowitte.LaunchBar.action.QueryCocoaDocs</string>
	<key>CFBundleName</key>
	<string>CocoaDocs Search</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LBDebugLogEnabled</key>
	<true/>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Heiko Witte</string>
		<key>LBResult</key>
		<string>List of matching CocoaDocs docsets</string>
		<key>LBSummary</key>
		<string>Queries the CocoaDocs database http://cocoadocs.org</string>
		<key>LBTwitter</key>
		<string>@heikowitte</string>
	</dict>
	<key>LBResult</key>
	<string>List of matching CocoaDocs docsets</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBAcceptedArgumentTypes</key>
			<array>
				<string>string</string>
			</array>
			<key>LBKeepWindowActive</key>
			<true/>
			<key>LBLiveFeedbackEnabled</key>
			<true/>
			<key>LBRequiresArgument</key>
			<true/>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBReturnsResult</key>
			<true/>
			<key>LBRunInBackground</key>
			<true/>
			<key>LBScriptName</key>
			<string>default.py</string>
		</dict>
	</dict>
	<key>LBTextInputTitle</key>
	<string>Search</string>
</dict>
</plist>
